@import "styles/colors";

.ChessMenu {
    .ChessMenuTitle {
        text-align: center;
    }

    .ChessMenuQueenContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .ChessMenuQueenItem {
            box-sizing: border-box;
            padding: 10px;
            margin: 10px;
            border: 1px solid $chessMenuBorderColor;
            border-radius: 20px;

            .ChessMenuQueenItemImage {
                max-width: 100%;
                height: auto;
            }

            .ChessMenuQueenItemTitle {
                font-weight: 600;
                text-align: center;
            }
        }        
    }
}