@import "styles/colors";

.ChessSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .ChessSquareImg {
        max-width: 100%;
        height: auto;
    }
}

.ChessColorLight {
    background-color: $orangeLight;

    &:hover {
        background-color: darken($orangeLight, 10);
    }
}

.ChessColorDark {
    background-color: $orangeDark;

    &:hover {
        background-color: darken($orangeDark, 10);
    }
}