@import "styles/media-queries";

.ChessBoardTitle {
    text-align: center;
}

.ChessBoardContainer {
    @include gt-sm {
        margin-left: 5%;
        margin-right: 5%;
    }
    @include gt-md {
        margin-left: 15%;
        margin-right: 15%;
    }
}

.ChessBoardLine {
    display: flex;
    text-align: center;
    justify-content: center;

    .ChessBoardButton {
        flex: 1 1;
        aspect-ratio: 1;
        padding: 0;
    }
}


